body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    text-align: center;
}

table {
    thead {
        th {
            text-align: center;
        }
    }
}

h3 {
    background-color: #006400;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
	margin-bottom: 0;
}

th {
    padding: 8px;
    font-size: 1.5em;
}

img {
	width: 40px;
    border: 2px solid #006400;
    border-radius: 4px;
    max-height: 40px;
    margin-right: 4px;
}

td {
	font-size: 18px;
}

.glyphicon {
	font-size: 16px;
	padding-left: 4px;
}

.camper {
	color: #336033;
	text-decoration: underline;
}
